<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Dcmoderator dashboard</title>
    <link href="../static/tables.css" rel="stylesheet"/>
    <link rel="icon" href="../favico.ico"/>
</head>
<body>
    <h2>Logok</h2>
    <p><a href="/home">Vissza a főoldalra</a></p>
    <form method="post" action="/la">
        <p>Rendezés:
            <select name="order" id="order">
                <option name="normal" selected="selected">Nem túl régi esmények elől</option>
                <option name="invert">Régebbiek elől</option>
            </select>
            <button type="submit">Rendezés!</button>
        </p>
    </form>
    <table class="table">
        <tr class="table__header">
            <th>Id</th>
            <th>Esemény időpontja</th>
            <th>Az esemény leírása</th>
        </tr>
        {% for row in logs %}
        <tr class="table__row">
            {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>